/* 
    Document   : debugger
    Created on : Nov 4, 2013, 6:44:53 PM
    Author     : ernstbolt
    Description:
        Purpose of the stylesheet follows.
*/

.debug-output{
    position: fixed;
    top:30px;
    width: 100%;
    padding: 5px;
}

.debug-message{
    font-size: 16px;
    line-height: 20px;
    position: relative;
    float: left;
    background: rgba(252, 222, 0, 0.8);
    margin-bottom: 3px;
    width:100%;
    padding: 5px;
    z-index: 999;
}

